In [1]:
import numpy as np
import pandas as pd

In [3]:
import bq_helper
from bq_helper import BigQueryHelper

In [4]:
bq_assistant = BigQueryHelper("bigquery-public-data", "new_york")
bq_assistant.list_tables()

Using Kaggle's public dataset BigQuery integration.

['311_service_requests',
 'citibike_stations',
 'citibike_trips',
 'nypd_mv_collisions',
 'tlc_fhv_trips_2015',
 'tlc_fhv_trips_2016',
 'tlc_green_trips_2013',
 'tlc_green_trips_2014',
 'tlc_green_trips_2015',
 'tlc_green_trips_2016',
 'tlc_yellow_trips_2009',
 'tlc_yellow_trips_2010',
 'tlc_yellow_trips_2011',
 'tlc_yellow_trips_2012',
 'tlc_yellow_trips_2013',
 'tlc_yellow_trips_2014',
 'tlc_yellow_trips_2015',
 'tlc_yellow_trips_2016',
 'tree_census_1995',
 'tree_census_2005',
 'tree_census_2015',
 'tree_species']

In [5]:
bq_assistant.head("citibike_trips", num_rows=10)

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,107,2014-06-06 13:02:01+00:00,2014-06-06 13:03:48+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,16692,Subscriber,1977.0,male
1,1105,2013-08-24 17:03:52+00:00,2013-08-24 17:22:17+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,15352,Customer,NaN,unknown
2,990,2014-04-25 11:52:28+00:00,2014-04-25 12:08:58+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,20194,Subscriber,1973.0,male
3,138,2015-08-20 16:58:57+00:00,2015-08-20 17:01:16+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,21002,Subscriber,1977.0,male
4,78,2014-09-13 13:18:36+00:00,2014-09-13 13:19:54+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,19259,Customer,NaN,unknown
5,826,2015-08-26 19:48:32+00:00,2015-08-26 20:02:19+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,17766,Customer,NaN,unknown
6,122,2015-11-30 16:20:57+00:00,2015-11-30 16:23:00+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,17913,Customer,NaN,unknown
7,999,2015-10-30 12:58:52+00:00,2015-10-30 13:15:32+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,23325,Subscriber,1958.0,male
8,1745,2014-04-03 11:57:26+00:00,2014-04-03 12:26:31+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,21445,Subscriber,1979.0,male
9,128,2016-08-29 13:48:25+00:00,2016-08-29 13:50:33+00:00,520,W 52 St & 5 Ave,40.759923,-73.976485,520,W 52 St & 5 Ave,40.759923,-73.976485,23801,Customer,NaN,unknown

In [7]:
nyc = bq_helper.BigQueryHelper(active_project="bigquery-public-data",
                                   dataset_name="new_york")

Using Kaggle's public dataset BigQuery integration.

In [52]:
query15 = """SELECT
  *
FROM
  `bigquery-public-data.new_york.nypd_mv_collisions`
WHERE
  on_street_name <> ''
LIMIT
  10000000;
        """
response1 = nyc.query_to_pandas_safe(query15, max_gb_scanned=10)
#response1.head(30)

In [53]:
file_name = 'test.csv'
response1.to_csv(file_name)

In [ ]:
df = bq_assistant.head("tlc_yellow_trips_2016", num_rows=10000000)

In [58]:
file_name = 'data.csv'
df.to_csv(file_name)